In [1]:
# import pyforest
import mne
import os
import pandas as pd

In [2]:
# Get the current working directory
current_directory = os.getcwd()

# Specify the file names
edf_file_name = r'.\files\S001\S001R01.edf'

# Construct the full file paths
edf_file_path = os.path.join(current_directory, edf_file_name)

In [3]:
# Read EEG data from the .edf file
raw_edf_data = mne.io.read_raw_edf(edf_file_path, preload=True)

# Create a DataFrame from the EEG data
eeg_data_df = raw_edf_data.to_data_frame()

Extracting EDF parameters from C:\Users\mondal\Desktop\KMU_AR_VR_EEG\Experiments\Exp_1_Eye_movement\files\S001\S001R01.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...
Reading 0 ... 9759  =      0.000 ...    60.994 secs...

In [22]:
eeg_data_df

,time,Fc5.,Fc3.,Fc1.,Fcz.,Fc2.,Fc4.,Fc6.,C5..,C3..,...,P8..,Po7.,Po3.,Poz.,Po4.,Po8.,O1..,Oz..,O2..,Iz..
0,0.00000,-16.0,-29.0,2.0,22.0,-12.0,-23.0,-46.0,-36.0,-26.0,...,-30.0,-56.0,-52.0,-35.0,-22.0,-33.0,-53.0,-21.0,-11.0,15.0
1,0.00625,-56.0,-54.0,-27.0,-4.0,-31.0,-36.0,-56.0,-75.0,-55.0,...,-20.0,-35.0,-29.0,-18.0,-3.0,-9.0,-53.0,-12.0,1.0,21.0
2,0.01250,-55.0,-55.0,-29.0,-5.0,-29.0,-34.0,-52.0,-53.0,-42.0,...,-20.0,-23.0,-12.0,-6.0,4.0,-7.0,-45.0,2.0,18.0,35.0
3,0.01875,-50.0,-44.0,-13.0,13.0,-16.0,-25.0,-45.0,-44.0,-21.0,...,-16.0,-12.0,4.0,14.0,20.0,7.0,-29.0,16.0,35.0,47.0
4,0.02500,-36.0,-28.0,13.0,42.0,9.0,-10.0,-46.0,-34.0,-12.0,...,-9.0,-7.0,6.0,20.0,24.0,6.0,-13.0,29.0,40.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,60.96875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9756,60.97500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9757,60.98125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9758,60.98750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9759,60.99375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Extract annotations
annotations = raw_edf_data.annotations

# Convert annotations to a Pandas DataFrame
annotations_df = annotations.to_data_frame()
annotations_df

                onset  duration description
0 2009-08-12 16:15:00      60.2          T0

In [20]:
annotations.description

array(['T0'], dtype='<U2')